@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    font-family: Arial, sans-serif;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .bg-white {
    background-color: #fff;
  }
  
  .shadow-md {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .py-4 {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  
  .relative {
    position: relative;
  }
  
  .z-10 {
    z-index: 10;
  }
  
  .bg-gray-100 {
    background-color: #f7fafc;
  }
  
  .min-h-screen {
    min-height: 100vh;
  }
  
  p {
    font-size: 1em;
    color: #666;
  }
  